            td {
                height: 35px;
                vertical-align: center;
            }

            .fb {
                color: #ffffff;
            }

            .frgtpass {
                color: #9CB4D8;
            }

            a {
                text-decoration: none;
            }

            p.small {
                line-height: 1.2;
                font-size: 12px;
                text-align: justify;
                color: #90949C;
            }

            .smallfnt {
                font-size: 14px;
                letter-spacing: 0.8px;
            }

            .genbrth {
                color: #90949C;
                font-size: 18px;
                font-weight: bold;
            }