    h3  {color: #2076cb;}

    h5,li {color: #ffffff; }

    h4 {color: #222222;}

    table { border-spacing: 0; border-collapse: collapse; }  

    td {padding:0px;}   

    td img {display:block; }   

    td iframe {display:block;}

    td marquee {display:block;}